<%- include('./src/views/particial/header.ejs',{page:"Home"}) %>

<!-- hero - start -->
  <section
    class="flex flex-col lg:flex-row justify-around gap-2 h-screen"
  >
    <!-- content - start -->
    <div class="sm:text-center flex flex-col justify-center ml-10 items-start  w-1/3 ">
      <h1
        class="text-black-800 text-4xl sm:text-5xl md:text-6xl font-bold mb-8 md:mb-12 p-5 text-left"
      >
        Safi <span class="text-red-600">Airline</span>
      </h1>
      <h2
        class="text-black-600 text-2xl  font-bold mb-8 md:mb-12 text-left"
      >
        Best Airline in the World
      </h2>

      <div
        class="flex flex-col sm:flex-row justify-start gap-2.5 p-5"
      >
        <a
          style="background-color: #790707"
          href="/flights"
          class="inline-block hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3"
          >Start now</a
        >
        <a
          href="/about"
          class="inline-block bg-gray-200 hover:bg-gray-300 focus-visible:ring ring-indigo-300 text-gray-500 active:text-gray-700 text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3"
          >About us</a
        >
      </div>
    </div>
    <div class="w-2/3">
      <img
        src="/plane.png"
        loading="lazy"
        alt="Photo by Fakurian Design"
        class="w-50 h-full object-contain"
      />
    </div>
  </section>
